/node_modules
/test/tmp
/cache
/artifacts/
/0xweb/
/0xc/
/dist/
/lib/
/ts-temp
/test/fixtures/package/simple/*
!/test/fixtures/package/simple/check.mjs
!/test/fixtures/package/simple/checkGen.mjs
!/test/fixtures/package/simple/tsconfig.json
0xweb.json
hardhat-*.config.js
del.act.ts
/.dequanto
.env
/dequanto.yml
/configs/local.yml
