.circleci/
.vscode/
.github/

/assets/
/artifacts/
/test/
/bin/
/tools/
/actions/
/exports/
/configs/
/0xc/
/cache/

.gitmodules

/0xweb.json
/tsconfig.esm.json
/tsconfig-build.json
/tsconfig-src.json
/package-bundler.json
